terraform/env-vars.sh
venv
.env
*.tfstate
*.tfvars
__pycache__/
*.pyc
instance/
.envrc
.vscode/
.DS_Store
*.log
*.terraform
wallet_storagedb.zip
ansible/files/wallet_storagedb/
ansible/.env
test/
.terraform.lock.hcl
.pytest_cache
.benchmarks
tests
ansible/inventory.ini
ansible/inventory.ini
